# Palmer penguins🐧🔍

In [1]:
import empiricaldist
import janitor
import matplotlib.pyplot as plt
import numpy as np
import palmerpenguins
import pandas as pd
import scipy.stats
import seaborn as sns
import sklearn.metrics
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats as ss
import session_info

In [2]:
%matplotlib inline
sns.set_style(style='whitegrid')
sns.set_context(context='notebook')
plt.rcParams['figure.figsize'] = (11, 9.4)

penguin_color = {
    'Adelie': '#ff6602ff',
    'Gentoo': '#0f7175ff',
    'Chinstrap': '#c65dc9ff'
}

In [3]:
raw_df = palmerpenguins.load_penguins_raw() # this is the raw dataframe
raw_df

In [4]:
proc_df = palmerpenguins.load_penguins() # this is the pre-processed dataframe

# Análisis del dataset

Debemos responder las siguientes preguntas:

### ¿Qué tipo de dato son las variables del conjunto de datos?

In [5]:
proc_df.dtypes

Obtenemos una lista de cada columna con su tipo de dato.

### ¿Cuántas variables de cada tipo de dato tenemos en el conjunto de datos?

In [6]:
(
    proc_df
    .dtypes
    .value_counts()
)

### ¿Cuántas variables y observaciones tenemos en el conjunto de datos?

In [7]:
proc_df.shape

Acá se entiende que tenemos 344 observaciones (filas) y 8 variabes por cada observación (columnas)

### ¿Tenemos valores nulos explícitos en mi conjunto de datos?

In [8]:
proc_df.isnull().any()

Vemos que en esta tabla nos da con valores booleanos si hay o no hay valores empty.

Para los elementos que me dió True a la existencia de valores nulos...¿cómo se cuántos de estos hay?

In [9]:
(
    proc_df
    .isnull()
    .sum()
)

Esto me devuelve la cantidad de valores nulos que tengo por cada variable.

También puedo obtener el total de todos los valores nulos que hay:

In [10]:
(
    proc_df
    .isnull()
    .sum()
    .sum()
)

Vemos que hay 19 valores nulos.

### Proporción de valores nulos

In [11]:
preprocessed_penguins_df = sns.load_dataset("penguins")

In [12]:
(
    proc_df
    .isnull()
    .melt()
    .pipe( # usamos el método pipe para graficar
        lambda df: (
            sns.displot(
                data=df,
                y='variable',
                hue='value',
                multiple='fill', # pedimos la proporción
                aspect=2
            )
        )
    )
)

Podemos ver la cantidad de datos nulos que hay en proporción a la cantidad total de datos.

## ¿Cómo podríamos visualizar los valores nulos en todo el conjunto de datos?

Es decir, si tengo por ejemplo que todos los valores nulos vienene de una solo pinguino

In [13]:
(
    proc_df
    .isnull()
    .transpose()
    # vamos a graficar los datos obtenidos
    .pipe(
        lambda df: (
            sns.heatmap(
                data=df
            )
        )
    )
)

Podemos ver que la mayoría de los valores nulos provienen de unos pocos pinguinos. Además, podemos ver que los datos faltantes son en su mayoría provenientes del sexo del pinguino.

## Eliminación de los datos nulos

Siempre hay que pensar bien si debemos eliminar o no los valores nulos de nuestro dataframe. Para entender bien esto, debemos ver cuantos datos perdemos cuando eliminamos los datos que son nulos:

In [14]:
cleaned_df = (
    proc_df
    .dropna()
)
cleaned_df

Notar que pasamos de 344 datos a 333 datos.

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f33e09a7-e3ae-444e-9f79-e86fca18d514' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>